Makefile
Makefile.in
.deps
/configure
/src/**/*.o
/src/**/*.a
/stamp-h1
/libtool
/config.*
/README
/ac/
/aclocal.m4
/autom4te.cache/
/src/command/kumomergedb
/src/log/logpack.hpp
/src/log/mlogger.h
/src/logic/gateway/mod_network.h
/src/logic/gateway/proto.h
/src/logic/kumo-gateway
/src/logic/kumo-manager
/src/logic/kumo-server
/src/logic/manager/mod_control.h
/src/logic/manager/mod_network.h
/src/logic/manager/mod_replace.h
/src/logic/manager/proto.h
/src/logic/server/mod_control.h
/src/logic/server/mod_network.h
/src/logic/server/mod_replace.h
/src/logic/server/mod_replace_stream.h
/src/logic/server/mod_store.h
/src/logic/server/proto.h
/src/mp/object_callback.h
/src/mp/wavy/core.h
/src/mp/wavy/singleton.h

